@use "../global" as *;

/* ===============================================
# page contact
=============================================== */

#contact {
  position: relative;
  width: 100%;
  height: auto;

  .wave-top {
    max-height: 80px;
  }

  #tell-contact {
    position: relative;
    width: 100%;
    padding-block-end: 2.5rem;
    z-index: 2;

    h3 {
      padding-block: 2rem 0.875rem;
      margin-inline: 20px;
    }

    .tell-outer {
      margin-block: 0;
      margin-inline: auto;
      padding-inline: 1rem;
      max-width: 1200px;

      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @media (min-width: 600px) {
        flex-direction: row;
      }

      .tell-card {
        padding-block: 0.75rem;
        padding-inline: 0.75rem;
        width: 80%;
        border-bottom: 1px dashed $text;

        display: flex;
        flex-direction: column;
        align-items: center;

        position: relative;

        @media (min-width: 600px) {
          width: 40%;

          &:nth-of-type(3),
          &:nth-of-type(4) {
            border-bottom: 0;
          }

          &:nth-of-type(odd) {
            &::after {
              content: "";
              position: absolute;
              top: 10%;
              right: 0%;
              height: 80%;
              border-right: 1px dashed $text;
            }
          }
        }

        @media (min-width: 786px) {
          width: 25%;
          border-bottom: 0;

          &:nth-of-type(2) {
            &::after {
              content: "";
              position: absolute;
              top: 10%;
              right: 0%;
              height: 80%;
              border-right: 1px dashed $text;
            }
          }
        }

        .tell-title {
          padding-block-end: 0.125rem;
        }

        .line-green {
          border-bottom: 1px solid $green-3rd;
        }
        .line-pink {
          border-bottom: 1px solid $pink-3rd;
        }
        .line-orange {
          border-bottom: 1px solid $orange-3rd;
        }
        .line-blue {
          border-bottom: 1px solid $blue-3rd;
        }

        p {
          padding-block: 0.375rem;
          padding-inline: 0;
          text-align: center;
          font-size: 1.175rem;
          font-weight: bold;
        }

        .tell-flex {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 4px;

          .tell-number {
            font-size: 1.375rem;
            font-weight: bold;
            padding-block-end: 0.25rem;
          }
        }
      }
    }
  }
  
  #mail-contact {
    position: relative;
    width: 100%;
    height: 100%;
    padding-block: 0.625rem 2.5rem;
    padding-inline: 1rem;
    z-index: 2;

    #form {
      margin-block: 0;
      margin-inline: auto;
      padding-block: 2rem 3rem;
      padding-inline: 1rem;
      max-width: 560px;
      background: $white;
      border-radius: 24px;
      box-shadow: 2px 4px 4px 0 $gray;

      @media (min-width: 700px) {
        max-width: 800px;
      }

      h3 {
        max-width: 560px;
        padding-block-start: 0.5rem;
        border-bottom: 1px solid $text;
        padding-block: 0 12px;
      }

      .form-desc {
        padding-block: 1rem 1.5rem;
        padding-inline: 0;
        max-width: fit-content;
        margin-inline: auto;
      }

      .form-outer {
        margin-block: 0;
        margin-inline: auto;
        max-width: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;

        @media (min-width: 786px) {
          max-width: 560px;
        }

        .wpcf7 {
          .form-inner {
            padding-block-end: 0.25rem;
            position: relative;
            width: 100%;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            @media (min-width: 786px) {
              padding-block-end: 1rem;
              flex-direction: row;
              align-items: center;
            }

            .form-title {
              text-align: center;
              width: 320px;
              @media (min-width: 786px) {
                text-align: left;
              }

              &::after {
                content: " *";
                color: $text-sub;
                font-weight: bold;
                vertical-align: middle;
              }
            }

            .wpcf7-text {
              padding: 4px 8px;
              border: 1px solid $orange;

            }

            p {
              width: 100%;
              display: flex;
              flex-direction: column;
              @media (min-width: 786px) {
                max-width: 600px;
                flex-direction: row;
              }

              .reply {
                margin-block: 1rem 0;
                margin-inline: auto;
                width: fit-content;
                max-width: 350px;
                text-align: center;

                display: block;
                border-bottom: 1px dashed $text;

                @media (min-width: 786px) {
                  width: 350px;
                  text-align: left;
                  border: none;
                }
              }

              .wpcf7-radio {
                display: block;
                margin-block: 0;
                margin-inline: auto;
                max-width: 350px;

                .wpcf7-list-item {
                  margin-block: 0;
                  margin-inline: 0;
                  padding-block-start: 0.375rem;
                }
              }
            }

            span {
              width: 100%;

              .form-text {
                display: block;
                margin-block: 0;
                margin-inline: auto;
                width: 100%;
                max-width: 350px;
                height: 30px;
                border-radius: 4px;
                border: 1px solid $orange;
                @media (min-width: 786px) {
                  text-align: left;
                }
              }
            }

            .wpcf7-form-control-wrap[data-name="select-type"] {
              position: relative;
              display: block;
              margin-block: 0;
              margin-inline: auto;
              width: 100%;
              max-width: 350px;

              &::before {
                content: "";
                position: absolute;
                top: 50%;
                right: 12px;
                transform: translateY(-70%) rotate(45deg);

                width: 8px;
                height: 8px;
                border-right: 1px solid $orange;
                border-bottom: 1px solid $orange;

                pointer-events: none;
                z-index: 2;
              }

              .form-dropdown {
                display: block;
                margin-block: 0;
                margin-inline: auto;
                padding-block: 0;
                padding-inline: 0.625rem;
                width: 100%;
                max-width: 350px;
                height: 30px;
                border-radius: 4px;
                border: 1px solid $orange;

                appearance: none;
                -webkit-appearance: none;
              }
            }

            .form-message {
              display: block;
              margin-block: 0;
              margin-inline: auto;
              width: 100%;
              max-width: 350px;
              height: 7rem;
              border-radius: 4px;
              border: 1px solid $orange;

              resize: none;
            }
          }

          .privacy-check-row {
            padding-block: 1rem 1.5rem;
            padding-inline: 0;

            p {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 8px;

              .wpcf7-form-control-wrap {
                .wpcf7-acceptance {
                  .wpcf7-list-item {
                    label {
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      gap: 8px;

                      .wpcf7-list-item-label {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: fit-content;

                        font-size: 0.95rem;

                        a {
                          color: $text-sub;
                          font-size: 0.95rem;
                        }
                      }
                    }
                  }
                }
              }

              .wpcf7-not-valid-tip {
                position: absolute;
                width: 240px;
                top: 100%;
                left: 0;
              }
            }

            .wpcf7-list-item {
              margin-block: 0;
              margin-inline: 0;
            }
          }

          .privacy-text {
            width: fit-content;
            a {
              display: inline-block;
              color: $orange-3rd;
              text-decoration: underline;
            }
          }

          .send-btn {
            display: block;
            position: relative;

            margin-block: 0;
            margin-inline: auto;
            padding-block: 0.3125rem;
            padding-inline: 1.5rem;
            width: fit-content;
            text-align: center;
            .btn {
              max-width: 200px;
              font-size: 1.075rem;
            }

            &::before {
              content: "";
              position: absolute;
              top: 50%;
              right: 30px;
              transform: translateY(-50%);

              width: 16px;
              height: 16px;
              background: $text;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              z-index: 1;
            }

            &::after {
              content: "";
              position: absolute;
              top: 50%;
              right: 37px;
              transform: translateY(-55%) rotate(45deg);

              width: 4px;
              height: 4px;
              border-top: 1px solid $btn-cc;
              border-right: 1px solid $btn-cc;
              z-index: 2;
            }

            .wpcf7-spinner {
              display: none;
            }
          }
        }
      }
    }
  }
}