@use "../global" as *;

/*  ===============================================
#  footer  footer-top
===============================================  */
#footer_top {
  position: relative;
  width: 100%;

  padding-bottom: 20px;

  @include tb() {
    padding-bottom: 80px;
  }
  @include sp() {
    padding-bottom: 48px;
  }

  &.bg-pink {
    background: var(--color-pink);
  }
  &.bg-yellow {
    background: var(--color-yellow);
  }
  &.bg-green {
    background: var(--color-green);
  }

  &.bg-orange {
    background: var(--color-orange);
  }

  /*  ========事業所一覧=======  */

  .service-container {
    margin: 0 auto;
    padding: 0 16px;
    max-width: 1280px;

    @media (max-width: 1240px) {
      max-width: 880px;
    }

    .service-outer {
      margin-bottom: 4px;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;

      .service-nav {
        display: flex;
        align-items: center;
        width: 280px;
        padding: 4px 16px;
        border-radius: 999px;
        transition: transform 0.2s ease, box-shadow 0.2s ease;

        &:hover {
          transform: translateY(2px) translateX(1px);
        }

        .service-nav-icon {
          width: 64px;
          height: 64px;
          border-radius: 50%;
          overflow: hidden;
          flex-shrink: 0;
          margin-right: 8px;
        }

        .service-nav-icon img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .service-nav-block {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          flex-grow: 1;

          .service-nav-text {
            color: $text;
            margin-bottom: -2px;
          }

          .service-nav-logo {
            width: auto;
            height: 40px;
            margin: 0 4px 4px;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
        // .service-nav-block
      }
      // .service-nav

      /* 各カラー */
      .service-nav-pink {
        background-color: $pink;
        border: 2px solid $pink-2nd;
        box-shadow: 2px 4px 0 $pink-2nd;
        &:hover {
          box-shadow: 0 1px 0 $pink-2nd;
        }
      }

      .service-nav-green {
        background-color: $green;
        border: 2px solid $green-2nd;
        box-shadow: 2px 4px 0 $green-2nd;
        &:hover {
          box-shadow: 0 1px 0 $green-2nd;
        }
      }

      .service-nav-orange {
        background-color: $orange;
        border: 2px solid $orange-2nd;
        box-shadow: 2px 4px 0 $orange-2nd;
        &:hover {
          box-shadow: 0 1px 0 $orange-2nd;
        }
      }

      .service-nav-blue {
        background-color: $blue;
        border: 2px solid $blue-2nd;
        box-shadow: 2px 4px 0 $blue-2nd;
        &:hover {
          box-shadow: 0 1px 0 $blue-2nd;
        }
      }
    }
    // .service-outer
  }
  // .service-container

  /*  ========お気軽にお問い合わせください=======  */

  .footer_top-container {
    margin: 60px auto 0;
    max-width: 360px;

    @media (min-width: 600px) {
      max-width: 480px;
    }
    @media (min-width: 1024px) {
      max-width: 640px;
    }

    .bg-img {
      margin: 1rem;
      padding: 1rem 0.75rem;
      background-image: url(../images/bg-footer-top.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      @media (max-width: 600px) {
        padding: 8px 12px 16px;
      }

      .footer_top-outer {
        padding: 8px 0;
        margin: 0 auto;
        max-width: 640px;
        text-align: center;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        .contact-text {
          font-size: 1.25rem;
          padding-bottom: 0.75rem;

          @media (min-width: 600px) {
            font-size: 1.5rem;
            padding-bottom: 1.175rem;
          }
          @media (min-width: 1024px) {
            font-size: 1.8rem;
          }
        }

        .contact-text_sub {
          font-size: .9rem;
          margin-bottom: 12px;

          @media (min-width: 600px) {
            font-size: 1.175rem;
            padding-bottom: 4px;
          }
          @media (min-width: 1024px) {
            font-size: 1.25rem;
            padding-bottom: 8px;
          }
        }

        .footer_top-inner {
          margin: 0 auto;
          max-width: 380px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          width: 100%;

          @media (min-width: 600px) {
            flex-direction: row;

            max-width: 560px;
            gap: 8px;
            justify-content: center;
            width: auto;
          }
          @media (min-width: 786px) {
            gap: 16px;
          }
          @media (min-width: 1024px) {
            gap: 32px;
            max-width: 800px;
          }
          .btn {
            margin-right: 4px;
          }

          .footer_top-block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 4px;
            width: fit-content;
            margin: 0 auto;

            .tellphone {
              display: flex;
              flex-direction: row;
              align-items: center;

              font-size: 1.5rem;
              @media (min-width: 600px) {
                font-size: 1.7rem;
                margin-right: 0;
              }
              @media (min-width: 1024px) {
                font-size: 2rem;
              }

              img {
                width: 1.5em;
                height: 1.5em;
                margin-right: 4px;
              }

              .tell_number {
                font-size: 1em;
                letter-spacing: inherit;
                margin-bottom: 6px;
                font-weight: 500;

                @media (min-width: 600px) {
                  letter-spacing: 2px;
                }
                // @media (min-width: 1024px) {
                // }
              }
            }
            // tellphone

            span {
              font-size: 0.875em;
              @media (min-width: 600px) {
                font-size: 1rem;
              }
              @media (min-width: 1024px) {
                font-size: 1.175rem;
              }
            }
          }

          .btn_footer-top {
            margin: 16px auto;
            @media (min-width: 600px) {
              margin: 0 auto;
            }
          }
        }

        //  .footer_top-inner
      }

      //  .footer_top-outer
    }

    //  .bg-img
  }

  //  .footer_top-container

  /*  ========topに戻るボタン=======  */

  #back-btn-containar {
    //  max-width:  1240px;
    //  margin:  0  auto;
    //  position:  relative;
    //  height:  1px;
    //  pointer-events:  none;

    #back-page-top {
      position: fixed;
      bottom: 40px;
      right: 20px;
      z-index: 10;

      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s, visibility 0.3s;

      &.is-show {
        opacity: 1;
        visibility: visible;
      }

      /*  フッターに到達した時にJSでこのクラスをつける  */
      &.is-stopped {
        position: absolute;
        bottom: 40px; /*  #footer_topの最下部からの距離  */
        top: auto;
        right: 20px;
      }

      .btn-top {
        display: block;
        position: relative;
        margin-left: auto;
        margin-bottom: -32px;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background: $text;
        border: 1px solid $btn-cc;
        z-index: 2;
        cursor: pointer;

        @media (min-width: 600px) {
          margin-right: 1rem;
          margin-bottom: -1rem;
          width: 60px;
          height: 60px;
        }
        @media (min-width: 1240px) {
          margin-right: 1rem;
          margin-bottom: -2rem;
        }

        transition: background-color 0.2s ease, border-color 0.2s ease,
          transform 0.2s ease;

        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 48%;
          left: 50%;
          width: 12px;
          height: 12px;
          border-left: 2px solid $btn-cc;
          border-top: 2px solid $btn-cc;
          border-radius: 2px;
          transform: translate(-50%, -25%) rotate(45deg);
          transition: border-color 0.2s ease;
        }

        &:hover {
          transform: translateY(4px);
        }

        &:active {
          background: $btn-cc;
          border-color: $text;

          &::before {
            border-color: $text;
          }
        }
      }

      // .btn_top
    }

    // #back-page-top
  }
  // #back-btn-outer
}
// #footer-top

.wave-footer {
  background: $bg-main;
}
