.container {
  width: 100%;
  padding: 0 3rem;
  margin-top: 40px;
}


.wave {
  padding: 40px 0;
  border: 1px solid #000;

  position: relative;
  // overflow: hidden;

  &>*:not(.bg-yellow) {
    position: relative;
    z-index: 1;
  }

  .bg-yellow {
    display: block;

    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;

    height: auto;

    z-index: -1;

    .wave-yellow {
      fill: var(--color-yellow);
    }
  }

}